<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> Home </a>
    {% else %}
        <a class="current"> Home </a>
    {% endif %}

    {% if page.url != "/blog/" %}
        <a href="{{ site.baseurl }}blog">Blog </a>
    {% else %}
        <a class="current">Blog </a>
    {% endif %}

    {% if page.url != "/talks/" %}
        <a href="{{ site.baseurl }}talks">Talks </a>
    {% else %}
        <a class="current">Talks </a>
    {% endif %}

    {% if page.url != "/articles/" %}
        <a href="{{ site.baseurl }}articles">Articles </a>
    {% else %}
        <a class="current">Articles </a>
    {% endif %}

    {% if page.url != "/resume/" %}
        <a href="{{ site.baseurl }}resume">Résumé </a>
    {% else %}
        <a class="current">Résumé </a>
    {% endif %}

    {% if site.aboutPage %}
        {% if page.url != "/about/" %}
            <a href="{{ site.baseurl }}about">About </a>
        {% else %}
            <a class="current">About </a>
        {% endif %}
    {% endif %}
</nav>